@import url("https://fonts.googleapis.com/css?family=Unica+One");

:root {
	--dark-blue: #282a43;
	--medium-blue: #4653d5;
	--light-blue: #3bc0ff;
	--green: #54e56b;
	--grey: #bfbfc7;

	background: var(--dark-blue);
}

@media screen and (min-width: 768px) {
	:root {
		font-size: 20px;
	}
}

.App {
	display: flex;
	flex-direction: column;
	width: 100vw;
	background: var(--dark-blue);
	max-width: 900px;
	margin: 0 auto;
}

.row {
	display: grid;
	grid-template-columns: 0.4fr 1fr 0.4fr;
	justify-content: center;
	padding: 2rem 0;
	position: relative;
	transition: all 350ms ease-in-out;
}

.row:hover {
	background: radial-gradient(
		circle,
		hsla(238deg, 35%, 24%, 1) 0%,
		var(--dark-blue) 66%
	);
}
.row:hover .name {
	transform: scale(1.01);
}

.row:not(:last-child)::after {
	content: "";
	z-index: 10;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	top: 100%;
	background: var(--dark-blue);
	background: radial-gradient(circle, var(--green) 0%, var(--dark-blue) 66%);
}

/* BADGE STUFF */
.row .badge {
	width: 100%;
	display: flex;
	background: white;
	margin: auto;
	height: 7rem;
}
.row .home.badge img {
	margin: 0 auto 0 0.35rem;
}
.row .away.badge img {
	margin: 0 0.35rem 0 auto;
}
.row .badge img {
	width: 50px;
	align-self: center;
}

@media screen and (min-width: 400px) {
	.row .badge img {
		margin: auto !important;
	}
}

.row .home.badge {
	border-radius: 0 5rem 5rem 0;
}
.row .away.badge {
	border-radius: 5rem 0 0 5rem;
}
@media screen and (min-width: 560px) {
	.row .badge {
		border-radius: 8rem !important;
		width: 120px;
		height: 120px;
	}
}

/* ROW DETAILS LAYOUT STUFF */
.row .details {
	text-align: center;
}
.row .details .channel {
	width: 100%;
	margin: 1rem 0;
}
.row .details .channel img {
	width: 50%;
	max-width: 120px;
	filter: saturate(0%);
}

/* ROW DETAILS TYPOGRAPHY */
.row .details {
	font-family: "Unica One";
	text-transform: uppercase;
	color: var(--grey);
}

.row .details .time {
	font-size: 1rem;
	color: var(--light-blue);
}
.row .details .name {
	font-size: calc(1rem + 1.5vw);
	color: #fff;
	margin: 0.75rem 0;
	position: relative;
	transition: all 200ms ease-in-out;
}

.row .details .competition {
	font-size: 0.8rem;
	color: var(--medium-blue);
	margin: 0;
}
.row .details .stage {
	font-size: 0.6rem;
	margin: 0;
	letter-spacing: 0.025rem;
}
